fastapi>=0.115.0
httpx2>=2.7.0
requests>=2.32.0
uvicorn>=0.34.0

torch>=2.7.0
pandas>=2.2.3
numpy>=2.2.0

scikit-learn==1.7.1

pydantic>=2.10.0

geopy>=2.4.1
kagglehub>=0.3.12

python-dotenv>=1.0.1

loguru>=0.7.3

pytest>=8.4.0 